@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@for $i from 1 through 100{
	.ml#{$i}{
		margin-left: $i+px;
	}
	.mr#{$i}{
		margin-right: $i+px;
	}
	.mt#{$i}{
		margin-top: $i+px;
	}
	.mb#{$i}{
		margin-bottom: $i+px;
	}
	.pl#{$i}{
		padding-left: $i+px;
	}
	.pr#{$i}{
		padding-right: $i+px;
	}
	.pt#{$i}{
		padding-top: $i+px;
	}
	.pb#{$i}{
		padding-bottom: $i+px;
	}
}

.layer-box{
	display: none;
}
.layer-shadwon{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.3);
}
.layer-con{
//	position: relative;
}
.cur1{
	cursor: pointer;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.btn{
	display: block;
	height: 30px;
	line-height: 30px;
	min-width: 60px;
	cursor: pointer;
}
.cnt-btn{
	text-align: center;
	.btn{
		display: inline-block;
	}
}
.m-auto{
	margin: 0 auto;	
}
.input-txt{
	line-height: 26px;
	outline: none;
	padding-left: 8px;
}
.inline-block{
	display: inline-block;
}
.disflex{
	display: flex;
}
.flexty1{
	justify-content: space-between;
}
