@charset "utf-8";
@import
	"common";
	
	
//热身运动1
.p1-section{
	padding-left: 40px;
	padding-top: 40px;
}
.p1-sdiv{
	margin-top: 20px;
	width: 100px;
	height: 100px;
	border: 2px solid #101010;
	background-color: #F7ECB5;
}
.pl-layer-box{
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 20px;
	background-color: #fff;
	z-index: 1;
	&:before{
		content: "";
		position: absolute;
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
		background-color: rgba(255,255,255,.5);
		z-index: -1;
	}
}
.p1-layer-btn{
	margin-bottom: 20px;
	dt{
		width: 130px;
		text-align: right;
	}
	dl{
		line-height: 30px;
	}
	dd.fl{
		width: 50px;
		margin-right: 10px;
		color: #888;
		text-align: center;
		border: 1px solid #928787;
		background-color: #e8e8e8;
		cursor: pointer;
		overflow: hidden;
		&:hover{
			border-color: #101010;
		}
	}
}
.p1-layer1{
	dd.fl{
		color: #fff;
		&.list1{
			background-color: yellowgreen;
			&:hover{
				background-color: red;
			}
		}
		&.list2{
			background-color: darkorange;
			&:hover{
				background-color: yellow;
				color: #000000;
			}
		}
		&.list3{
			background-color: cornflowerblue;
			&:hover{
				background-color: dodgerblue;
			}
		}
	}
}

//练习1
.img-switch{
	width: 50%;
	margin-top:30px;
	padding-top: 20px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	text-align: center;
}
.p2-img-box{
	position: relative;
	height: 500px;
	overflow: hidden;
	p{
		position: absolute;
		width: 100%;
		line-height: 30px;
		background-color: rgba(0,0,0,.5);
		color: #fff;
	}
	.top{
		top: 0;
	}
	.bottom{
		bottom: 0;
	}
	img{
		width: auto;
		height: auto;
	}
	.prv,.next{
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 30px;
		top: 50%;
		margin-top: -25px;
		background-color: rgba(134,122,122,.5);
		cursor: pointer;
		user-select: none;
		&:hover{
			background-color: rgba(134,122,122,.2);
		}
	}
	.prv{
		left: 0;
	}
	.next{
		right: 0;
	}
}
//模拟短信发送
.send-info{
	position: relative;
	width: 300px;
	height: 600px;
	padding: 76px 24px;
	margin-top: 20px;
	background: url(../img/imgSwitch/phone.png) no-repeat center center;
	background-size: contain;
}
.send-info-b{
	position: absolute;
	margin: 0 24px;
	bottom: 81px;
	left: 0;
	right: 0;
	padding-top: 5px;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	.input-txt{
		width: 155px;
	}
}
.se-head{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
}
.send-info-con{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 30px;
	max-height: 400px;
    overflow-y: auto;
	.flexty1{
		justify-content: flex-start;
	}
	img{
		flex-shrink: 0;
	}
	.ml10{
		position: relative;
		border-radius: 4px;
		font-size: 12px;
		padding: 5px;
		background-color: #e8e8e8;
		word-break:break-all;
		&:before{
			content: "";
			position: absolute;
			left: -5px;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-right: 5px solid #e8e8e8;
		}
	}
	.mysend{
		flex-direction: row-reverse;
		&.flexty1{
			justify-content: flex-start;
		}
		.ml10{
			margin-left: 0;
			margin-right: 10px;
			background-color: yellowgreen;
			color: #fff;
			&:before{
				left: auto;
				right: -5px;
				transform: rotateY(180deg);
				border-right-color: yellowgreen;
			}
		}
	}
}
//形状
.shape3{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 0;
	top: 0;
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	background-color: #1E90FF;
	color: #fff;
}
//带缩略图的图片切换
.img-s1{
	position: relative;
	width: 500px;
	height: 400px;
	margin-top: 50px;
	background-color: rgba(0,0,0,.5);
	overflow: hidden;
	.left,.right{
		position: absolute;
		top: 50%;
		margin-top: -20px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		color: #fff;
		text-align: center;
		font-size: 40px;
		background-color: rgba(0,0,0,.5);
		border-radius: 50%;
		user-select: none;
		cursor: pointer;
		&:hover{
			background-color: orange;
		}
	}
	.left{
		left: 0;
	}
	.right{
		right: 0;
	}
	img{
		width: 100%;
		height: auto;
	}
	ul{
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		li{
			position: relative;
			list-style: none;
			display: inline-block;
			width: 12px;
			height: 12px;
			margin: 0 5px;
			border-radius: 50%;
			background-color: rgba(16, 16, 16, 0.73);
			cursor: pointer;
			&.active{
				background-color: orange;
			}
			div{
				display: none;
				position: absolute;
				bottom: 25px;
				left: 50%;
				margin-left: -80px;
				width: 150px;
				height: 90px;
				background: #fff;
				padding: 5px;
				img{
					height: 80px;
				}
				&:after{
					content: "";
					position: absolute;
					bottom: -6px;
					left: 50%;
					margin-left: -3px;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-top: 6px solid #fff;
				}
			}
		}
	}
}
//组图切换
.img-s2{
	margin: 20px auto;
	padding: 40px;
	background-color: #fff;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	width: 980px;
	&>div{
		padding: 20px;
		background-color: #fff;
		box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
	}
	.box-l{
		width: 350px;
		img{
			width: 310px;
		}
	}
	.box-r{
		width: 550px;
		img{
			width: 510px;
		}
	}
	img{
		height: 360px;
	}
}

//搜狗视频记录片列表展示
.sg-box{
	width: 300px;
	min-height: 400px;
	margin-top: 30px;
	background-color: rgb(222, 231, 231);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
	.head,.list{
		margin: 0 15px;
	}
	.head{
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #204D74;
		h3{
			color: rgb(24, 90, 132);
			font-family: "宋体";
		}
		.clearfix{
			position: absolute;
			margin-top: 12px;
			right: 0;
		}
		p{
			padding: 2px 10px;
			border: 1px solid #204D74;
			border-right: 0;
			font-size: 12px;
			background-color: rgb(222, 231, 231);
			cursor: pointer;
			&.last{
				border-right: 1px solid #204D74;
			}
			&.active{
				background-color: #fff;
				border-bottom: 0;
			}
		}
	}
	.list{
		position: relative;
		padding: 10px 0;
		border-bottom: 1px dashed #fff;
		span{
			position: absolute;
			left: 0;
			width: 20px;
			line-height: 15px;
			text-align: center;
			background-color: rgb(24, 90, 132);
			color: #fff;
		}
		.ml25{
			margin-left: 25px;
		}
		.content{
			position: relative;
			img{
				position: absolute;				
				left: 0;
				width: 100px;
				height: 70px;
			}
			.dsp{
				margin-left: 110px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
			}
			.text-r{
				position: relative;
				&:before{
					content: "";
					position: absolute;
					right: 37px;
					top: 7px;
					border-top: 4px solid transparent;
					border-bottom: 4px solid transparent;
					border-left: 4px solid #fff;
				}
			}
			.btn{
				min-width: 45px;
				background-color: rgb(41,115,156);
				color: #fff;
				height: 22px;
				line-height: 22px;
				font-size: 12px;
				letter-spacing: 2px;
				text-indent: 10px;
				border: none;
			}
		}
	}
}
//修改文本框的值
.up-list-box{
	width: 400px;
	margin-top: 30px;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
	h4{
		padding: 10px;
		background-color: rgb(107,165,66);
		color: #fff;
		font-family: "宋体";
	}
	li{
		list-style: none;
		padding: 5px 10px;
		border-bottom: 1px solid #ddd;
		font-size: 12px;
		.icon{
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-left: 10px;
			background: url(../img/icon/edit0.png) no-repeat center center;
			vertical-align: middle;
			cursor: pointer;
			&.hidden{
				display: none;
			}
		}
	}
}

.scorll-table{
	position: relative;
	margin-top: 100px;
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
	.psd{
		position: absolute;
		left: 0;
	}
}
.table{
	table-layout: fixed;
	border-collapse: separate;
	width: 100%;
	text-align: center;
	th,td{
		padding: 12px 0;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
	tr{
	}
}
